@tailwind base;
@tailwind components;
@tailwind utilities;
.bla {
  accent-color: black;
  height: 20px;
}




/* DateRangePicker.css */
.custom-date-range-picker .rdrSelected {
  background-color: black !important;
}

.custom-date-range-picker .rdrStartEdge,
.custom-date-range-picker .rdrEndEdge,
.custom-date-range-picker .rdrInRange {
  background: black !important;
  color: white !important;
}
